:root {
  --cinereous: hsla(16, 14%, 64%, 1);
  --columbia-blue: hsla(217, 48%, 84%, 1);
  --melon: hsla(11, 86%, 81%, 1);
  --bittersweet-shimmer: hsla(2, 44%, 51%, 1);
  --oxford-blue: hsla(230, 34%, 13%, 1);
  --cinereous-2: hsla(13, 11%, 58%, 1);
}